<<<<<<< HEAD
=======
#mapWrap{
	height: 100%;
	width: 600px;
	right:  0px;
}
#map {
  height: 100%;
  width: 600px;
  right: 0px;
  margin: 0px;
  padding: 0px;
}
>>>>>>> 2f879d5c63a75e056d2890f40f9c03c823c27b3e
.dog {

  background-color: RGB(63,187,54);
}
.yard {

    background-color: RGB(255,220,80);
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.panel {
  margin-top: 300px !important;
  bottom:0;
  margin:0 auto;
  width:75%;
}
.row {
    margin-bottom: 120px !important;

}
